# Gradle files
.gradle/
build/
.externalNativeBuild/
.cxx/

# Local configuration file (SDK path etc)
local.properties

# IDEA / Android Studio
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# IntelliJ project files
*.iml
*.iws
*.ipr

# Kotlin caches
.kotlin/

# Log files
*.log

# Android specific
captures/
output.json

# Others
.DS_Store
*.swp
*.swo
